body {
    background-color: #F7F6F6;
    font-family: 'Roboto', sans-serif;
    line-height: 1.3;
    color: $grey40;
    -webkit-font-smoothing: antialiased;
}

hr {
    border: 0;
    margin: 0;
    height: 1px;
    background-color: $grey10;
}