.u-bg-blue10 {
    background-color: $blue10 !important;
}
.u-bg-blue40 {
    background-color: $blue40 !important;
}
.u-green10 { color: $green10; }
.u-red10 { color: $red10; }
.u-blue40 { color: $blue40; }


.u-shadow-default {
    box-shadow: $shadow-default !important;
}