.u-bg-blue10 {
    background-color: $blue10 !important;
}
.u-bg-blue40 {
    background-color: $blue40 !important;
}
.u-bg-red5 {
    background-color: $red5 !important;
}
.u-grey40 { color: $grey40; }
.u-grey20 { color: $grey20; }
.u-green10 { color: $green10; }
.u-red20 { color: $red20; }
.u-red10 { color: $red10; }
.u-blue40 { color: $blue40; }

.u-fz-large {
    font-size: 40px;
}

.u-fz-medium {
    font-size: 30px;
}


.u-shadow-default {
    box-shadow: $shadow-default !important;
}