$border: 1px solid #C5C5CA;
$border-radius: 2px;

$transition-duration: .4s;
$transition-timing-function: ease;
$transition: $transition-duration $transition-timing-function;

//Color
$grey40: hsla(235, 11%, 23%, 1);
$grey30: hsla(249, 10%, 37%, 1);
$grey20: hsla(234, 6%, 66%, 1);
$grey10: hsla(234, 6%, 66%, 0.5);

$blue40: hsla(216, 88%, 60%, 1);
$blue30: rgba(65, 136, 243, 0.3);
$blue20: hsla(194, 51%, 92%, 1);
$blue10: hsla(194, 51%, 92%, 0.5);
$blue5: hsla(194, 51%, 92%, 0.3);

$purple30: hsla(235, 24%, 42%, 1);
$purple20: hsla(235, 24%, 42%, 0.8);

$green10: hsla(119, 72%, 39%, 1);

$red20: hsla(360, 79%, 65%, 1);
$red10: hsla(360, 72%, 39%, 1);
$red5: hsla(0, 79%, 65%, .1);

// Shadow
$shadow-default: 0px 2px 4px rgba(71, 71, 71, 0.25);
$shadow-large: 0px 5px 13px rgba(0, 0, 0, 0.3);