.c-button-radio {
    position: relative;
    display: block;
    height: 35px;
    width: 35px;
    border: 1px solid $grey20;
    background-color: white;
    border-radius: 2px;
    cursor: pointer;

    &.is-active {
        border: 1px solid $grey30;
        img {
            opacity: 1;
        }
        .c-icon {
            opacity: 1;
        }
    }

    &:focus {
        outline: 0;
    }

    .c-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        opacity: .5;
    }

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: none;
        opacity: .5;
        height: 35px;
        width: 35px;
    }
}

.c-button-icon {
    line-height: 1;
    margin-top: 6px; // fix vertical align inside table

    .c-icon {
        font-size: 24px;
        color: $grey20;
        transition: color $transition;
    }

    &:hover {
        .c-icon {
            color: $blue40;
        }
    }
}

.c-button-square {
    position: relative;
    height: 45px;
    width: 45px;
    border-radius: 2px;
    background-color: $blue40;
    transition: opacity $transition, background-color $transition;

    &:hover,
    &:focus {
        outline: none;
        background-color: $blue45;
    }

    .c-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        color: white;
        font-size: 24px;
        transform: translate(-50%, -50%);
    }

    &:disabled {
        cursor: default;
        opacity: .5;

        &:hover,
        &:focus {
            background-color: $blue40;
        }
    }
}