.c-card {
    position: relative;
    background-color: #fff;
    box-shadow: 0px 5px 10px rgba(71, 71, 71, 0.25), 0px 2px 4px rgba(71, 71, 71, 0.2);

    &__buttons {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px;
        width: 35px;
        background-color: $blue20;
        transition: background-color $transition;

        .c-icon {
            font-size: 20px;
            color: $grey40;
            transition: color $transition;
        }
    
        &:hover,
        &:focus {
            outline: 0;
            background-color: $blue40;
            .c-icon {
                color: white;
            }
        }

        &.--red {
            &:hover,
            &:focus {
                background-color: $red20;
            }
        }
    }
}