.c-input {
    border-radius: $border-radius;
    border: 1px solid #A4A5AE;
    height: 35px;
    padding: 0 10px;
    line-height: 35px;
    width: 100%;
    transition: border-color $transition;

    &::placeholder {
        color: $grey20;
    }
    
    &:hover,
    &:focus {
        outline: 0;
        border-color: $blue40;
    }
}

// Remove arrows in input type number
.c-input[type=number] {
    -moz-appearance: textfield;
}
.c-input::-webkit-outer-spin-button,
.c-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.c-addon-container {
    position: relative;
	.c-icon {
		color: $grey20;
		font-size: 23px;
		position: absolute;
		left: 8px;
		top: 50%;
		transform: translateY(-50%);
		pointer-events: none;
        transition: color $transition;
	}

    .c-input {
        padding-left: 40px;
    }

    &:focus-within {
        .c-icon {
            color: $blue40;
        }
    }
}