.c-link {
    &.nuxt-link-exact-active {
    }

    &.--blue {
        color: $blue40;
    }

    &:hover,
    &:focus {
        outline: 0;
        text-decoration: underline;
    }

    &--icon {
        position: relative;
        padding-left: 30px;

        .c-icon {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            font-size: 24px;
        }
    }
}