.c-selectbox {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    background-color: #fff;
    border-radius: $border-radius;
    padding: 10px;
    box-shadow: $shadow-default;
    max-height: 251px;
    overflow-y: scroll;
    z-index: map-get($zindex, dropdown);

    &::-webkit-scrollbar {
        display: none;
    }

    li {
        display: flex;
        flex-direction: row;
        height: 36px;
        line-height: 36px;
        border-radius: $border-radius;
        padding-right: 10px;
        cursor: pointer;
        transition: background-color $transition;

        img {
            margin-right: 14px;
        }

        &:hover {
            background-color: $blue20;
        }
    }

    li + li {
        margin-top: 3px;
    }
}