.container-fluid {
    padding-left: 50px;
    padding-right: 50px;
    max-width: 2500px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 768px) { 
        padding-left: 20px;
        padding-right: 20px;
    }
}

.container-730 {
    width: 730px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.container-900 {
    width: 940px;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.container-1400 {
    width: 1440px;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}